@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  list-style: none;
  /* overflow: hidden; */
}
body,
html {
  height: 100%;
  width: 100%;
  background: linear-gradient(90deg, #9a6580 10%, #14dae5);
}
body {
  display: flex;
  justify-content: center;
}
.btn {
  padding: 10px 30px;
  border: 1px solid rgba(255, 255, 255, 0.828);
  outline: none;
  color: rgb(255, 255, 255);
  background: linear-gradient(90deg, #9a6580 10%, #14dae5);
  border-radius: 5px;
  font-size: 1.1rem;
  font-weight: 600;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.main-div {
  width: 60%;
  height: auto;
  /* border: 2px solid red; */
  margin-top: 60px;
  align-self: flex-start;
  padding: 30px;
  background: linear-gradient(90deg, #044a95 10%, #0db5e1);
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  border-radius: 5px;
}
.main-div h1{
  color: white;
}
.input-div {
  width: 100%;
  display: flex;
  gap: 30px;
}
.input-div input {
  width: 100%;
  padding: 10px 30px;
  outline: none;
  border: none;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.task-div{
    /* border: 2px solid red; */
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    height: auto;
}
.task-div .task{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;

    /* height: auto; */
    /* border: 2px solid red; */
}
.task-content{
    display: flex;
    /* align-items: center; */
    gap: 10px;
    /* height: auto; */
    margin-top: 10px;

}
.task-content .text{
   
    font-size: 1.1rem;
    color: #757575;
    width: 90%;
    /* align-self: center; */
    text-wrap: wrap;
  
}

.task-btn{
    align-self: flex-start;
}
@media (max-width:768px) {
  .main-div {
    width: 80%;
   
  }
  
}
@media (max-width:600px) {
  .main-div {
    width: 100%;
    height: auto;
    /* border: 2px solid red; */
    margin-top: 0px;
    align-self: flex-start;
    padding: 20px;
    background: linear-gradient(90deg, #044a95 10%, #0db5e1);
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: flex-start;
    border-radius: 5px;
  }
  .input-div {
    width: 100%;
    display: flex;
    gap: 10px;
  }
  
}